*~
.ant_targets
.DS_Store
.bpmn
*.iml
.idea
rebel.xml
.settings
*/target
target
*.log
*.development.properties
*.dev.properties
*.project
*.classpath
*.bak
dependency-reduced-pom.xml
*dump
.vscode/
**/.sts4-cache